{% extends "homepage-layout.html" %}
{% block title %}My Webpage{% endblock %}
{% block stylesheet %}{% endblock %}
{% block main %}
    <div class="main-section">
        <h1 class="header-name">Joy Bernal</h1>

        <div class="self-description">
            <div class="clearfix">
                <img class="pic" src="/static/images/homepage/img11.jpg" alt="my picture" style="float: right; width: 50%; margin-left: 20px; margin-bottom: 20px;">

                <p>
                    My name is Christine Joy Bernal. I am from the Philippines. I speak Tagalog, English, and Chinese. I am currently a Computer Science student at President Ramon Magsaysay State University (PRMSU). I strive to be excellent in what I do. I set a high standard for myself, and don't settle for less than that.
                </p>
                <p>
                    My childhood dream never includes the path I am taking right now. I did not dream of being passionate about programming, and yet, in reality, I did. Before the pandemic, I planned to become a stewardess. It has been my dream since I remember. I want to travel the world, get out of my comfort zone, and explore the world.
                </p>
                <p>
                    Seems like life has other plans for me, better than what I have planned for myself. Because now, I love what I do and I do what I love. I found something that I can be really passionate about. I cannot imagine my life without programming right now.
                </p>
                <p>
                    In the journey of finding your purpose and passion while carrying the weight of your obligations and responsibilities, time was my greatest enemy. The time seems to be not enough. Time is so fast I can't keep up. I feel like running out of time every time.
                </p>
            </div>
        </div>


        <div class="grid text-center color" style="--bs-rows: 3; --bs-columns: 3;">
            <div>Don't Wait for Opportunity, Create it. -George Bernard Shaw</div>
            <div class="g-start-2" style="grid-row: 2">Don&#39;t be like the rest of them. Be you. - Anonymous</div>
            <div class="g-start-3" style="grid-row: 3">"Programming isn't about what you know; it's about what you can figure out.” - Chris Pine</div>
        </div>
        <div class="grid text-center" style="--bs-rows: 3; --bs-columns: 3;">
            <div>"Push yourself again and again. Don&#39;t give an inch until the final buzzer sounds." - Larry Bird</div>
            <div class="g-start-2" style="grid-row: 2">"Knowledge isn&#39;t power until it is applied." - Dale Carnegie</div>
            <div class="g-start-3" style="grid-row: 3"> "Nothing is impossible. The word itself says 'I'm possible!'" - Audrey Hepburn</div>
        </div>


        <h2 class="header-words">Word Collection</h2>
        <div class="container text-center words">
            <div class="row justify-content-around">
                <div class="col-4">
                    Believe
                </div>
                <div class="col-4">
                    Persevere
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-4">
                    Thrive
                </div>
                <div class="col-4">
                    Overcome
                </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-4">
                    Empower
                </div>
                <div class="col-4">
                    Dream
                </div>
            </div>
        </div>
        <div class="container text-center words">
            <div class="row justify-content-around">
                <div class="col-4">
                    Achieve
                </div>
                <div class="col-4">
                    Inspire
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-4">
                    Transform
                </div>
                <div class="col-4">
                    Unstoppable
                </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-4">
                    Endure
                </div>
                <div class="col-4">
                    Focus
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}{% endblock %}
{% endblock %}
