{% extends "homepage-layout.html" %}
{% block title %}Gallery{% endblock %}
{% block stylesheet %}{% endblock %}
{% block main %}
    <div class="main-section">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in range(1, 21) %}
                    <div class="carousel-item {% if i == 1 %}active{% endif %}">
                        <img src="/static/images/homepage/img{{ i }}.jpg" class="d-block w-100 picture images">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    {% block scripts %}{% endblock %}
{% endblock %}
