<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Facebook</title>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles/frontend/facebook.css">


    </head>

    <body>
        <div class="header">
            <div class="header-left">
                <img class="logo" src="/static/images/Facebook-icons/facebook-logo.png" alt="">
                <img class="search" src="/static/images/Facebook-icons/search-line.png" alt="">
            </div>
            <div class="header-middle">
                <img class="icons" src="/static/images/Facebook-icons/home-4-fill.png">
                <img class="icons" src="/static/images/Facebook-icons/video-fill.png">
                <img class="icons" src="/static/images/Facebook-icons/store-2-line.png">
                <img class="icons" src="/static/images/Facebook-icons/group-line.png">
                <img class="icons" src="/static/images/Facebook-icons/gamepad-line.png">
            </div>
            <div class="header-right">
                <img class="icons margin" src="/static/images/Facebook-icons/apps.png">
                <img class="icons margin" src="/static/images/Facebook-icons/messenger.png">
                <img class="icons margin" src="/static/images/Facebook-icons/bell.png">
                <img class="profile margin" src="/static/images/users/pic3.jpg">
            </div>
        </div>

        <div class="sidebar">
            <div class="sidebar-col">
                <img class="profile" src="/static/images/users/pic3.jpg">
                <p class="texts">Joy Bernal</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/classmate.png">
                <p class="text">Friends</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/memories.png">
                <p class="text">Memories</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/bookmark.png">
                <p class="text">Saved</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/groups.png">
                <p class="text">Groups</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/video-stream.png">
                <p class="text">Video</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/shop.png">
                <p class="text">Marketplace</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/feed.png">
                <p class="text">Feeds</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/events.jpg">
                <p class="text">Events</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/bar-chart.png">
                <p class="text">Ads Manager</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/classmate.png">
                <p class="text">Friends</p>
            </div>
            <div class="sidebar-col">
                <img class="icons" src="/static/images/Facebook-icons/arrow-down-wide-fill.png">
                <p class="text">See more</p>
            </div>
        </div>
        <div class="main-content">
            <div class="body">
                <div class="stories">
                    <div class="story-box">
                        <img class="story" src="/static/images/users/pic3.jpg">
                        <div class="add-story">+</div>
                        <p class="create-story">Create story</p>
                    </div>
                    <div class="story-box">
                        <img class="other-story" src="/static/images/users/heluoluo.jpg">
                        <img class="story-profile" src="/static/images/users/heluoluo.jpg">
                    </div>
                    <div class="story-box">
                        <img class="other-story" src="/static/images/users/vinzhou.jpg">
                        <img class="story-profile" src="/static/images/users/nannan.jpg">
                    </div>
                    <div class="story-box">
                        <img class="other-story" src="/static/images/users/yaochen.jpg">
                        <img class="story-profile" src="/static/images/users/yao chen.jpg">
                    </div>
                </div>


                <div class="create-post">
                    <div class="woym">
                        <img class="profile" src="/static/images/users/pic3.jpg" alt="">
                        <input class="woym-input" type="text" placeholder="What's on your mind, Joy?">
                    </div>
                    <div class="woym2">
                        <img class="icons" src="/static/images/Facebook-icons/video-stream.png">
                        <p class="left">Live video</p>
                        <img class="icons" src="/static/images/Facebook-icons/images.png">
                        <p class="left">Photo/video</p>
                        <img class="icons" src="/static/images/Facebook-icons/smile.png">
                        <p class="left">Feeling/activity</p>
                    </div>
                </div>



                <div class="facebook-posts">
                    <div class="facebook-posts-header">
                        <p class="text-post-header">People You May Know</p>
                        <p class="bigger"><i class="ri-more-line"></i></p>
                    </div>
                    <div class="people-ymk">
                        <div class="people-suggestion">
                            <img class="friend-suggestion" src="/static/images/users/jiajia.jpg" alt="">
                            <div class="name">Yan Xujia</div>
                            <button class="add-friend"><i class="ri-user-add-fill"></i> Add friend</button>
                        </div>
                        <div class="people-suggestion">
                            <img class="friend-suggestion" src="/static/images/users/renhao.jpg" alt="">
                            <div class="name">Ren Hao</div>
                            <button class="add-friend"><i class="ri-user-add-fill"></i> Add friend</button>
                        </div>
                        <div class="people-suggestion">
                            <img class="friend-suggestion" src="/static/images/users/liuye.jpg" alt="">
                            <div class="name">Liu Ye</div>
                            <button class="add-friend"><i class="ri-user-add-fill"></i> Add friend</button>
                        </div>

                    </div>
                    <div class="see-all">See all</div>


                    <div class="post">
                        <div class="post-header">
                            <div class="profile-container">
                                <img class="profile" src="/static/images/users/sinb.jpg" alt="">
                            </div>
                            <div class="post-details">
                                <div class="post-name">
                                    Sinb
                                </div>
                                <div class="post-time">
                                    17h &middot; <i class="ri-earth-line"></i>
                                </div>
                            </div>
                            <div class="more-options">
                                <i class="ri-more-line"></i>
                                <i class="ri-close-large-line"></i>
                            </div>
                        </div>
                        <div class="post-captions">
                            [#VIVIZ] ⏰
                            9 o'clock in a little while! MBC M, wavve 2024 Universal Superstar Awards> #BBG will appear 📺
                            Let butterflies be with you for unforgettable precious moments🦋
                            #EUNHA #은하
                            #SINB #신비
                            #UMJI #엄지
                            #KM차트 #2024USA
                        </div>
                        <div>
                            <img class="post-image" src="/static/images/users/viviz.jpg">
                        </div>

                        <div class="post-interactions">
                            <img class="like-icon" src="/static/images/Facebook-icons/like.png">
                            <p class="likes"> 10K </p>
                            <p class="comments-shares">5.3K comments 5.7K shares</p>
                        </div>
                        <div class="like-comment-share">
                            <div>
                                <i class="ri-thumb-up-line"></i> Like
                            </div>
                            <div>
                                <i class="ri-chat-1-line"></i> Comment
                            </div>
                            <div>
                                <i class="ri-share-forward-line"></i> Share
                            </div>
                        </div>
                    </div>


                    <div class="post">
                        <div class="post-header">
                            <div class="profile-container">
                                <img class="profile" src="/static/images/users/zhaixiaowen.jpg" alt="">
                            </div>
                            <div class="post-details">
                                <div class="post-name">
                                    Zhai Xiaowen
                                </div>
                                <div class="post-time">
                                    1d &middot; <i class="ri-earth-line"></i>
                                </div>
                            </div>
                            <div class="more-options">
                                <i class="ri-more-line"></i>
                                <i class="ri-close-large-line"></i>
                            </div>
                        </div>
                        <div class="post-captions">
                            太一进天都，
                            连山到海雨。
                            白云会王鹤，
                        </div>
                        <div>
                            <img class="post-image" src="/static/images/users/img2.jpg">
                        </div>

                        <div class="post-interactions">
                            <img class="like-icon" src="/static/images/Facebook-icons/like.png">
                            <p class="likes"> 7K </p>
                            <p class="comments-shares">6.7K comments 8.9K shares</p>
                        </div>
                        <div class="like-comment-share">
                            <div>
                                <i class="ri-thumb-up-line"></i> Like
                            </div>
                            <div>
                                <i class="ri-chat-1-line"></i> Comment
                            </div>
                            <div>
                                <i class="ri-share-forward-line"></i> Share
                            </div>
                        </div>
                    </div>


                    <div class="post">
                        <div class="post-header">
                            <div class="profile-container">
                                <img class="profile" src="/static/images/users/nannan.jpg" alt="">
                            </div>
                            <div class="post-details">
                                <div class="post-name">
                                    Vin Zhou
                                </div>
                                <div class="post-time">
                                    1d &middot; <i class="ri-earth-line"></i>
                                </div>
                            </div>
                            <div class="more-options">
                                <i class="ri-more-line"></i>
                                <i class="ri-close-large-line"></i>
                            </div>
                        </div>
                        <div class="post-captions">
                            钱唐湖春行

                            孤山寺北贾亭西
                            水面初平云脚低
                            几处早莺争暖树
                            谁家新燕啄春泥
                            乱花渐欲迷人眼
                            浅草才能没马蹄
                            最爱湖东行不足
                            绿杨阴里白沙堤
                        </div>
                        <div>
                            <img class="post-image" src="/static/images/users/bg.jpg">
                        </div>

                        <div class="post-interactions">
                            <img class="like-icon" src="/static/images/Facebook-icons/like.png">
                            <p class="likes"> 20K </p>
                            <p class="comments-shares">18.1K comments 11.9K shares</p>
                        </div>
                        <div class="like-comment-share">
                            <div>
                                <i class="ri-thumb-up-line"></i> Like
                            </div>
                            <div>
                                <i class="ri-chat-1-line"></i> Comment
                            </div>
                            <div>
                                <i class="ri-share-forward-line"></i> Share
                            </div>
                        </div>
                    </div>


                    <div class="post">
                        <div class="post-header">
                            <div class="profile-container">
                                <img class="profile" src="/static/images/users/yaochen.jpg" alt="">
                            </div>
                            <div class="post-details">
                                <div class="post-name">
                                    Yao Chen
                                </div>
                                <div class="post-time">
                                    3d &middot; <i class="ri-earth-line"></i>
                                </div>
                            </div>
                            <div class="more-options">
                                <i class="ri-more-line"></i>
                                <i class="ri-close-large-line"></i>
                            </div>
                        </div>
                        <div class="post-captions">
                            宫词
                            泪尽罗巾梦不成
                            夜深前殿按歌声
                            红颜未老恩先断
                            斜倚薰笼坐到明
                        </div>
                        <div>
                            <img class="post-image" src="/static/images/images/background.jpg">
                        </div>

                        <div class="post-interactions">
                            <img class="like-icon" src="/static/images/Facebook-icons/like.png">
                            <p class="likes"> 17K </p>
                            <p class="comments-shares">13K comments 13.7K shares</p>
                        </div>
                        <div class="like-comment-share">
                            <div>
                                <i class="ri-thumb-up-line"></i> Like
                            </div>
                            <div>
                                <i class="ri-chat-1-line"></i> Comment
                            </div>
                            <div>
                                <i class="ri-share-forward-line"></i> Share
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-right">
            <div class="sidebar-subtitle">Sponsored</div>
            <div class="ads-row-container">
                <div class="ads-col-container">
                    <img class="ads" src="/static/images/Facebook-icons/ads1.jpg">
                    <div class="row">
                        <p>The Juicy Bite Burger Delight! </p>
                        <a class="link" href="www.JuicyBiteBurgerDelight.com">www.JuicyBiteBurgerDelight.com</a>
                    </div>

                </div>
                <div class="ads-col-container">
                    <img class="ads" src="/static/images/Facebook-icons/ads3.webp">
                    <div class="row">
                        <p>Taste the Sparkling Sensation - Coke Classic!</p>
                        <a class="link" href="www.CokeClassicSparkle.com">www.CokeClassicSparkle.com</a>
                    </div>

                </div>
            </div>

            <div class="contacts-container">
                <div class="contacts">
                    <div class="sidebar-subtitle right">Contacts</div>
                    <div><i class="ri ri-search-line"></i></div>
                    <div><i class="ri ri-more-fill"></i></div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/seungcheol.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Choi Seungcheol</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/jeonghan.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Yoon Jeonghan</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/joshua.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Hong Jisoo</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/jun.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Wen Junhui</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/hoshikwon.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Kwon Soonyoung</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/wonu.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Jeon Wonwoo</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/woozi.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Lee Jihoon</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/the8.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Xu Minghao</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/mingyu.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Kim Mingyu</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/dk.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Lee Seokmin</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/seungkwan.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Boo Seungkwan</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/vernon.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Chwe Hansol</p>
                        </div>
                    </div>
                </div>

                <div class="contacts-row">
                    <div class="names-row">
                        <div>
                            <img class="profile" src="/static/images/users/lee.jpg" alt="">
                        </div>
                        <div>
                            <p class="names">Lee Chan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
