<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles/frontend/spotify.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">

        <title>Spotify</title>
    </head>

    <body>
        <div class="sidebar-top">
            <div class="flex-row">
                <img class="big-icon" src="/static/images/spotify-images/home.png" alt="">
                <h4 class="white-font">Home</h4>
            </div>
            <div class="flex-row">
                <img class="big-icon" src="/static/images/spotify-images/search-line.png" alt="">
                <h4 class="grey-font">Search</h4>
            </div>

        </div>
        <div class="sidebar-middle">
            <div class="sidebar-header">
                <img src="/static/images/spotify-images/library.png" alt="">
                <p class="grey-font">Your Library</p>
                <p class="grey-font"><i class="ri-add-line font-30"></i></p>
                <p class="grey-font"><i class="ri-arrow-right-line font-30"></i></p>
            </div>

            <div>
                <p class="grey-shadow">Artists</p>
            </div>
        </div>
        <div class="sidebar-bottom">
            <div class="sidebar-header">
                <img src="/static/images/spotify-images/search-line.png" alt="">

                <div class="menu">
                    <p class="grey-font font-16">Recents</p>
                    <p class="grey-font"><i class="ri-more-2-line font-16"></i></p>
                    <p class="grey-font"><i class="ri-menu-line font-16"></i></p>
                </div>
            </div>
            <div class="artist-profile-col">
                <div class="artist-profile-row">
                    <img class="likedsongs" src="/static/images/spotify-images/likesongs.png" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">Liked Songs</p>
                        <p class="details grey-font"><i class="ri-pushpin-fill"></i> Playlist &centerdot; 6 songs</p>
                    </div>
                </div>
                <div class="artist-profile-row">
                    <img class="artist-profile" src="/static/images/spotify-images/umji.jpg" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">Umji</p>
                        <p class="details grey-font">Artist</p>
                    </div>
                </div>
                <div class="artist-profile-row">
                    <img class="artist-profile" src="/static/images/spotify-images/sinb.jpg" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">Sinb</p>
                        <p class="details grey-font">Artist</p>
                    </div>
                </div>

                <div class="artist-profile-row">
                    <img class="artist-profile" src="/static/images/spotify-images/yuju.jpg" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">Yuju</p>
                        <p class="details grey-font">Artist</p>
                    </div>
                </div>

                <div class="artist-profile-row">
                    <img class="artist-profile" src="/static/images/spotify-images/eunha.jpg" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">Eunha</p>
                        <p class="details grey-font">Artist</p>
                    </div>
                </div>

                <div class="artist-profile-row">
                    <img class="artist-profile" src="/static/images/spotify-images/yerin.jpg" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">Yerin</p>
                        <p class="details grey-font">Artist</p>
                    </div>
                </div>


                <div class="artist-profile-row">
                    <img class="artist-profile" src="/static/images/spotify-images/viviz.jpg" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">VIVIZ</p>
                        <p class="details grey-font">Artist</p>
                    </div>
                </div>

                <div class="artist-profile-row">
                    <img class="artist-profile" src="/static/images/spotify-images/aespa.jpeg" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">aespa</p>
                        <p class="details grey-font">Artist</p>
                    </div>
                </div>


                <div class="artist-profile-row">
                    <img class="artist-profile" src="/static/images/spotify-images/svt.jpg" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">SEVENTEEN</p>
                        <p class="details grey-font">Artist</p>
                    </div>
                </div>


                <div class="artist-profile-row">
                    <img class="artist-profile" src="/static/images/spotify-images/kard.jpg" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">KARD</p>
                        <p class="details grey-font">Artist</p>
                    </div>
                </div>

                <div class="artist-profile-row">
                    <img class="artist-profile" src="/static/images/spotify-images/gfriend.jpg" alt="">
                    <div class="artist-profile-details">
                        <p class="details bold">GFriend</p>
                        <p class="details grey-font">Artist</p>
                    </div>
                </div>



            </div>
        </div>


        <div class="body-header">
            <div class="header1">
                <button class="arrow-button"><i class="ri-arrow-left-s-line grey-font"></i></button>
                <button class="arrow-button"><i class="ri-arrow-right-s-line grey-font"></i></button>
                <button class="explore-button  margin-left">Explore Premium</button>
                <button class="install-button"><i class="ri-download-line"></i> Install App</button>
                <button class="install-button"><i class="ri-notification-2-line"></i></button>
                <img class="artist-profile" src="/static/images/spotify-images/vinzhou6.jpg" alt="">
            </div>
            <div class="header2">
                <p class="grey-shadow">All</p>
                <p class="grey-shadow">Music</p>
                <p class="grey-shadow">Podcasts</p>
            </div>
        </div>

        <div class="body">

            <div class="category-header">
                <h2 class="category-title">Today's biggest hits</h2>
                <p class="grey-font">Show all</p>
            </div>
            <div class="categories">
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/biggesthits-1.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Today's Top Hits</p>
                        <p></p>
                        <p class="grey-font">Doja Cat is on top of the Hottest 50!</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/biggesthits-2.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Viral Hits</p>
                        <p></p>
                        <p class="grey-font">Viral, trending and taking off.</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/biggesthits-3.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">K-Pop ON!</p>
                        <p></p>
                        <p class="grey-font">Turn on the movement with the latest and ...</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/biggesthits-4.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Tatak Pinoy</p>
                        <p></p>
                        <p class="grey-font">Mga nangunguna sa mundo ng OPM. Cov...</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/biggesthits-5.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Viral Hits Philippines</p>
                        <p class="grey-font">Viral sa Pinas! Cover: Ariana Grande</p>
                    </div>
                </div>
            </div>


            <div class="category-header">
                <h2 class="category-title">Recommended radio</h2>
                <p class="grey-font">Show all</p>
            </div>
            <div class="categories">
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/recommended-1.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">SEVENTEEN Radio</p>
                        <p></p>
                        <p class="grey-font">With BSS, THE BOYZ, MONSTA X and more</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/recommended-2.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Umji Radio</p>
                        <p></p>
                        <p class="grey-font">With EUNHA, SinB, Yerin and more</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/recommended-3.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">aespa Radio</p>
                        <p></p>
                        <p class="grey-font">With NMIXX, IVE, GOT the beat and more</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/recommended-4.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">VIVIZ Radio</p>
                        <p></p>
                        <p class="grey-font">With Yerin, YUJU, KWON EUNBI and...</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/recommended-5.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">KARD Radio</p>
                        <p></p>
                        <p class="grey-font">With CLC, HyunA, CHUNG HA and more</p>
                    </div>
                </div>
            </div>




            <div class="category-header">
                <h2 class="category-title">Stay Updated</h2>
                <p class="grey-font">Show all</p>
            </div>
            <div class="categories">
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/stayupdated-1.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">The wRap | Rapple...</p>
                        <p></p>
                        <p class="grey-font">Rappler</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/stayupdated-2.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">ABS-CBN News ...</p>
                        <p></p>
                        <p class="grey-font">ABS-CBN News Flash</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/stayupdated-3.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Teka Teka News</p>
                        <p></p>
                        <p class="grey-font">PumaPodcast</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/stayupdated-4.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Today, Explained</p>
                        <p></p>
                        <p class="grey-font">Vox</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/stayupdated-5.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">The Howie Severin...</p>
                        <p></p>
                        <p class="grey-font">GMA Integrated News</p>
                    </div>
                </div>
            </div>

            <div class="category-header">
                <h2 class="category-title">Popular radio</h2>
                <p class="grey-font">Show all</p>
            </div>
            <div class="categories">
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/popular-1.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Hev Abi Radio</p>
                        <p></p>
                        <p class="grey-font">With gins&melodies, DEMI, Sica and more</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/popular-2.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Taylor Swift Radio</p>
                        <p></p>
                        <p class="grey-font">With Selena Gomez, Olivia Rodrigo, Katy...</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/popular-3.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Ben&Ben Radio</p>
                        <p></p>
                        <p class="grey-font">With I Belong to the Zoo, December...</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/popular-4.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Bruno Mars Radio</p>
                        <p></p>
                        <p class="grey-font">With Maroon 5, Jason Derulo, Ne-Yo and...</p>
                    </div>
                </div>
                <div class="category">
                    <img class="picture" src="/static/images/spotify-images/popular-5.jpg" alt="">
                    <div class="category-details">
                        <p class="white-font">Air Supply Radio</p>
                        <p></p>
                        <p class="grey-font">With Peter Cetera, Barry Manilow,...</p>
                    </div>
                </div>
            </div>
















        </div>


        <div class="footer">
            <div class="left">

            </div>
            <div class="middle">
                <div class="middle-row">
                    <i style="font-size: 25px;" class="ri-shuffle-line grey-font margin-right"></i>
                    <i style="font-size: 25px;" class="ri-skip-left-fill grey-font margin-right"></i>
                    <i style="font-size: 25px;" class="ri-pause-circle-fill grey-font margin-right"></i>
                    <i style="font-size: 25px;" class="ri-skip-right-fill grey-font margin-right"></i>
                    <i style="font-size: 25px;" class="ri-repeat-2-line grey-font margin-right"></i>
                </div>
                <div class="middle-row">
                    <div class="margin-right">
                        <p class="grey-font">0.00</p>
                    </div>
                    <div>
                        <hr style="width: 340px;">
                    </div>
                    <div class="margin-lefty">
                        <p class="grey-font">.:..</p>
                    </div>
                </div>
                <div>

                </div>
            </div>
            <div class="right">
                <div class="middle-row">
                    <i style="font-size: 25px; padding-top: 10px" class="ri-play-circle-line grey-font margin-right"></i>
                    <i style="font-size: 25px; padding-top: 10px" class="ri-menu-line grey-font margin-right"></i>
                    <i style="font-size: 25px; padding-top: 10px" class="ri-device-line grey-font margin-right"></i>
                    <i style="font-size: 25px; padding-top: 10px" class="ri-volume-up-fill grey-font margin-right"></i>
                    <hr style="width: 70px; ">
                    <i style="font-size: 25px; padding-top: 10px" class="ri-expand-diagonal-line grey-font margin-right"></i>
                </div>
            </div>
        </div>
    </body>

</html>
