<!DOCTYPE html>
<html>

    <head>
        <title>X</title>
        <link rel="stylesheet" href="/static/styles/frontend/x.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/2.5.0/remixicon.css" />

    </head>

    <body>
        <div class="header">
            <div class="main">
                <div class="for-you">
                    <p>For you</p>
                </div>
                <div class="following">
                    <p>Following</p>
                </div>
                <div class="settings">
                    <img class="settings-icon" src="/static/images/x-images/settings.png">
                </div>
            </div>
            <div class="search-bar">
                <div class="search">
                    <i class="ri-search-line"></i>
                    <input class="search-input" type="text" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="sidebar-row">
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/x-logo.png">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/home.png">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/search.png">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/notif.jpg">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/messages.png">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/grok.jpg">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/lists.png">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/bookmark.png">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/community.png">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/x-logo.png">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/profile.png">
                </div>
                <div class="sidebar-icons">
                    <img class="icon" src="/static/images/x-images/more.png">
                </div>
                <div class="sidebar-icons">
                    <img class="icon post-icon" src="/static/images/x-images/post.png">
                </div>
                <div class="sidebar-icons">
                    <img class="profile" src="/static/images/users/zheyuan.jpg">
                </div>
            </div>
        </div>


        <div class="body">
            <div class="body-row">
                <div class="tweet-post">
                    <div class="profile-pic">
                        <img class="profile-post" src="/static/images/users/zheyuan.jpg">
                    </div>
                    <div class="post-details">
                        <div class="start">
                            <input class="happening" type="text" placeholder="What is happening?">
                        </div>
                        <div class="center">
                            <p><i class="ri-earth-line"></i> Everyone can reply</p>
                        </div>
                        <div class="end">
                            <img class="post-icons" src="/static/images/x-images/gallery.png">
                            <img class="post-icons" src="/static/images/x-images/gif.png">
                            <img class="post-icons" src="/static/images/x-images/poll.png">
                            <img class="post-icons" src="/static/images/x-images/emoji.png">
                            <img class="post-icons" src="/static/images/x-images/schedule.png">
                            <img class="post-icons" src="/static/images/x-images/location.png">
                        </div>
                    </div>
                    <div class="post-button">
                        <button class="btnPost">Post</button>
                    </div>
                </div>

                <div class="who-to-follow">
                    <div class="column-part">
                        <div class="title">
                            Who to follow
                            <div class="more"><i class="ri-more-line"></i></div>
                        </div>
                        <div class="boxes">
                            <div class="left-part">
                                <img class="profile-post" src="/static/images/users/eunha.jpg">
                            </div>
                            <div class="center-part">
                                <div class="upper">
                                    <p>daily.dev &#10003;</p>
                                </div>
                                <div class="middle">
                                    <p>@dailydotdev</p>
                                </div>
                                <div class="lower">
                                    <p>http://daily.dev for developer inspiration, information and perspective. It's also where we suffer together.</p>
                                </div>
                            </div>
                            <div class="right-part">
                                <button class="follow-button">Follow</button>
                            </div>
                        </div>

                        <div class="boxes">
                            <div class="left-part">
                                <img class="profile-post" src="/static/images/users/sinb.jpg">
                            </div>
                            <div class="center-part">
                                <div class="upper">
                                    <p>Florin Pop &#10003;</p>
                                </div>
                                <div class="middle">
                                    <p>@florinpop1705</p>
                                </div>
                                <div class="lower">
                                    <p>Helping developers learn faster @iCodeThis- 💻 YouTube: http://youtube.com/florinpop</p>
                                </div>
                            </div>
                            <div class="right-part">
                                <button class="follow-button">Follow</button>
                            </div>
                        </div>

                        <div class="boxes">
                            <div class="left-part">
                                <img class="profile-post" src="/static/images/users/umji.jpg">
                            </div>
                            <div class="center-part">
                                <div class="upper">
                                    <p>Quincy Larson &#10003;</p>
                                </div>
                                <div class="middle">
                                    <p>@ossia</p>
                                </div>
                                <div class="lower">
                                    <p>Teacher and founder of http://freeCodeCamp.org. Host of The freeCodeCamp Podcast. Find it in your podcast player and learn about tech from insightful developers.</p>
                                </div>
                            </div>
                            <div class="right-part">
                                <button class="follow-button">Follow</button>
                            </div>
                        </div>
                    </div>
                    <div class="show-more">
                        Show more
                    </div>
                </div>


                <div class="who-to-follow">
                    <div class="column-part">
                        <div class="title">
                            Creators for you
                            <div class="more"><i class="ri-more-line"></i></div>
                        </div>
                        <div class="boxes">
                            <div class="left-part">
                                <img class="profile-post" src="/static/images/users/yangyang.jpg">
                            </div>
                            <div class="center-part">
                                <div class="upper">
                                    <p>your thoughts &#10003;</p>
                                </div>
                                <div class="middle">
                                    <p>@ohthoughtsquote</p>
                                </div>
                                <div class="lower">
                                    <p>(Telegram :https://t.me/ohthoughtsquote)random thoughts & word DM FOR ,RT& PROMO</p>
                                </div>
                            </div>
                            <div class="right-part">
                                <button class="follow-button">Subscribe</button>
                            </div>
                        </div>

                        <div class="boxes">
                            <div class="left-part">
                                <img class="profile-post" src="/static/images/images/img2.jpg">
                            </div>
                            <div class="center-part">
                                <div class="upper">
                                    <p>Elon Musk &#10003;</p>
                                </div>
                                <div class="middle">
                                    <p>@elonmusk</p>
                                </div>
                                <div class="lower">
                                    <p></p>
                                </div>
                            </div>
                            <div class="right-part">
                                <button class="follow-button">Subscribe</button>
                            </div>
                        </div>

                        <div class="boxes">
                            <div class="left-part">
                                <img class="profile-post" src="/static/images/images/img18.jpg">
                            </div>
                            <div class="center-part">
                                <div class="upper">
                                    <p>Inspirational Quotes &#10003;</p>
                                </div>
                                <div class="middle">
                                    <p>@SeffSaid</p>
                                </div>
                                <div class="lower">
                                    <p>Inspirational quotes and sayings on life, love, friendship, best friends, happiness, motivational, relationships, smile, karma & more.</p>
                                </div>
                            </div>
                            <div class="right-part">
                                <button class="follow-button">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <div class="show-more">
                        Show more
                    </div>
                </div>

                <div class="cs50-post">
                    <div class="post-row">
                        <div class="cs50-profile">
                            <img class="cs50-cat" src="/static/images/x-images/cat.jpg">
                        </div>
                        <div class="post-content">
                            <div class="cs50-post-upper">
                                <p class="cs50-display">CS50 </p>
                                <p class="cs50-username"> @cs50</p>
                                <p class="cs50-username"> Feb 3</p>
                            </div>
                            <p class="cs50-header">CS50R's Lecture 2 goes live in 10 minutes! 🤓</p>
                            <p class="cs50-header link">youtube.com/live/dr1Ig8Sbq</p>
                            <p class="cs50-text">CS50R is @CS50's new introduction to programming with R, a popular language for statistical computing and graphics in data science and other domains. Enroll (for free) in advance at http://cs50.edx.org/r.</p>
                            <img class="cs50-picture" src="/static/images/x-images/cs50.jpg">
                            <div class="icons-row">
                                <i class="ri-chat-3-line"></i>
                                <i class="ri-repeat-fill"></i>
                                <i class="ri-heart-line"></i>
                                <i class="ri-bar-chart-line"></i>
                                <i class="ri-bookmark-line"></i>
                                <i class="ri-upload-2-line"></i>
                            </div>
                        </div>
                        <div class="post-more">
                            <button class="more-button">•••</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="sidebar-right">
            <div class="subscribe">
                <div class="header-subscribe">
                    <p>Subscribe to Premium</p>
                </div>
                <div class="text">
                    <p>Subscribe to unlock new features and if eligible, receive a share of ads revenue.</p>
                </div>
                <div class="subscribe-button">
                    <button class="btnSubscribe">Subscribe</button>
                </div>
            </div>
            <div class="trends">
                <p class="trendsforyou">Trends for you</p>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#SEVENTEEN</p>
                        <p class="trend-stats">500k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#SCOUPS</p>
                        <p class="trend-stats">130k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#JEONGHAN</p>
                        <p class="trend-stats">125k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#JOSHUA</p>
                        <p class="trend-stats">231k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#JUN</p>
                        <p class="trend-stats">313k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#HOSHI</p>
                        <p class="trend-stats">312k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#WONWOO</p>
                        <p class="trend-stats">321k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#WOOZI</p>
                        <p class="trend-stats">215k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#THE8</p>
                        <p class="trend-stats">128k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#MINGYU</p>
                        <p class="trend-stats">309k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#DOKYEOM</p>
                        <p class="trend-stats">396k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#SEUNGKWAN</p>
                        <p class="trend-stats">315k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#VERNON</p>
                        <p class="trend-stats">305k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <div class="trend">
                    <div class="trend-details">
                        <p class="trend-stats">Trending in Philippines</p>
                        <p class="trend-name">#DINO</p>
                        <p class="trend-stats">390k posts</p>
                    </div>
                    <div class="trend-more">
                        <button class="more-button">•••</button>
                    </div>
                </div>
                <p class="trends-show-more">Show more</p>



            </div>



            <div class="follow-recommendation">
                <p class="whotofollow">Who to follow</p>
                <div class="follow-row">
                    <div class="profile-div">
                        <img class="profile-follow" src="/static/images/images/img3.jpg">
                    </div>
                    <div class="follow-column">
                        <p class="displayName">GitHub</p>
                        <p class="userName">@github</p>
                    </div>
                    <div class="btnFollow">
                        <button class="follow-button">Follow</button>
                    </div>
                </div>

                <div class="follow-row">
                    <div class="profile-div">
                        <img class="profile-follow" src="/static/images/images/img19.jpg">
                    </div>
                    <div class="follow-column">
                        <p class="displayName">MINIMALIST BAKER</p>
                        <p class="userName">@minimalistbaker</p>
                    </div>
                    <div class="btnFollow">
                        <button class="follow-button">Follow</button>
                    </div>
                </div>
                <div class="follow-row">
                    <div class="profile-div">
                        <img class="profile-follow" src="/static/images/images/img8.jpg">
                    </div>
                    <div class="follow-column">
                        <p class="displayName">SEVENTEEN</p>
                        <p class="userName">@pledis_17</p>
                    </div>
                    <div class="btnFollow">
                        <button class="follow-button">Follow</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
