<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% block stylesheet %}{% endblock %}
        <link rel="stylesheet" href="/static/styles/frontend/yes.css">
    </head>

    <body>
        {% block body %}

        {% endblock %}
        <script src="/static/scripts/frontend/yes.js"></script>
    </body>

</html>
