{% extends "layout.html" %}
{% block title %}Contact Me{% endblock %}
<link rel="stylesheet" href="/static/styles/contact.css">
{% block body %}
    <main class="main-content">

        <div class="social-section">
            <h3 class="social-title">Connect With Me</h3>
            <div class="social-grid">
                <a href="mailto:joyinalgorithm@gmail.com" class="social-link">
                    <div><img class="social-icon" src="/static/images/icons/gmail.png"></div>
                    <span>Email</span>
                </a>
                <a href="https://github.com/joyinalgorithms" class="social-link">
                    <div><img class="social-icon" src="/static/images/icons/github.png"></div>
                    <span>GitHub</span>
                </a>
                <a href="https://www.linkedin.com/in/joy-bernal-026711267" class="social-link">
                    <div><img class="social-icon" src="/static/images/icons/linkedin.png"></div>
                    <span>LinkedIn</span>
                </a>
                <a href="https://discordapp.com/users/1328308176772268045" class="social-link">
                    <div><img class="social-icon" src="/static/images/icons/discord.png"></div>
                    <span>Discord</span>
                </a>
                <a href="https://www.instagram.com/joyinalgorithm/" class="social-link">
                    <div><img class="social-icon" src="/static/images/icons/instagram.png"></div>
                    <span>Instagram</span>
                </a>
                <a href="https://x.com/joyinalgorithm" class="social-link">
                    <div><img class="social-icon" src="/static/images/icons/twitter.png"></div>
                    <span>Twitter/X</span>
                </a>
                <a href="https://www.facebook.com/christinejoybernal17" class="social-link">
                    <div><img class="social-icon" src="/static/images/icons/facebook.png"></div>
                    <span>Facebook</span>
                </a>

            </div>
        </div>
    </div>
    </main>
{% endblock %}
