{% extends "homepage-layout.html" %}
{% block title %}Me{% endblock %}
{% block stylesheet %}{% endblock %}
{% block main %}
    <div class="main-section">
        <div class="flex-container">
            <div class="top-section">
                <h3 class="title-me ">Favorites</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Favorite color: Grey & Beige</li>
                    <li class="list-group-item">Favorite food: Everything sour</li>
                    <li class="list-group-item">Favorite drink: Nestea</li>
                    <li class="list-group-item">Favorite group: Seventeen, Gfriend</li>
                    <li class="list-group-item">Favorite song: There's too many!</li>
                    <li class="list-group-item">Favorite singer: Jessica Baio, Conor Maynard (Recently)</li>
                    <li class="list-group-item">Favorite genre: Acoustic Ballad</li>
                </ul>
            </div>
            <div class="middletop-section">
                <h3 class="title-me">Hobbies</h3>
                <div class="container text-center">
                    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                        <div class="col">
                            <div class="p-3">Code</div>
                        </div>
                        <div class="col">
                            <div class="p-3">Reading books</div>
                        </div>
                        <div class="col">
                            <div class="p-3">Listening to audiobooks</div>
                        </div>
                        <div class="col">
                            <div class="p-3">Studying</div>
                        </div>
                        <div class="col">
                            <div class="p-3">Playing guitar</div>
                        </div>
                        <div class="col">
                            <div class="p-3">Workout</div>
                        </div>
                        <div class="col">
                            <div class="p-3">Watch chinese shows</div>
                        </div>
                        <div class="col">
                            <div class="p-3">Writing stuffs</div>
                        </div>
                        <div class="col">
                            <div class="p-3">Listen to music</div>
                        </div>
                        <div class="col">
                            <div class="p-3">Photography</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="self-description">
            <h3 class="title-me">Me, Myself & I</h3>
            <div class="clearfix">
                <img class="pic" src="/static/images/homepage/img11.jpg" alt="my picture" style="float: right; width: 50%; margin-left: 20px; margin-bottom: 20px;">

                <p>
                    When I was a little girl, I was very insecure about how I looked and everything I did. I feel like I am not enough. I always feel like some people are just way better than I am. I have this mindset that I am just average. I can't do anything out of the ordinary. Just a kid, just another girl.
                </p>
                <p>
                    I never really excelled at school. But I am not on the lowest side either. Just in the middle. Just the average. Everything I do feels mediocre. Just an average high schooler would do. I am too afraid to try something new because I am scared of failure. I don't trust myself to fail. I was always sure that I couldn't do it.
                </p>
                <p>
                    It all changed in college. I realized that I could choose not to be average. I only have to trust myself and work hard every step of the way. And realize that it's okay to fail and to fall. Because there's always a chance to stand up and prove yourself. I change my old mindset to a growth mindset.
                </p>
                <p>
                    I started trusting myself more. I joined a school organization and became an active student. I maintain high grades and always strive for more. I always try to do more than my peers do. I want to be someone who is good at being a student leader and an excellent student as well. And I think I am slowly achieving that goal.
                </p>
                <p>
                    I still doubt my skills sometimes, but that doesn't stop me from trying. It only fuels my desire to be better. To be the better version of myself than yesterday. I do feel insecure about my looks, but I try to love myself more. I am slowly learning to embrace what I naturally have. Trust me to be myself. No more hiding in the dark
                </p>
            </div>
        </div>
        {% block scripts %}{% endblock %}
{% endblock %}
