<!DOCTYPE html>
<html>

    <head>
        <title>Instagram</title>
        <link rel="stylesheet" href="/static/styles/instagram.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/dist/remixicon.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="sidebar">
            <div class="top-sidebar">
                <img class="instagram-logo" src="/static/images/instagram-images/instagram.webp">
            </div>
            <div class="middle-sidebar">
                <div class="middle-row">
                    <img class="sidebar-icons" src="/static/images/instagram-images/home.png">
                    <p class="icon-text">Home</p>
                </div>
                <div class="middle-row">
                    <img class="sidebar-icons" src="/static/images/instagram-images/search.png">
                    <p class="icon-text">Search</p>
                </div>
                <div class="middle-row">
                    <img class="sidebar-icons" src="/static/images/instagram-images/explore.png">
                    <p class="icon-text">Explore</p>
                </div>
                <div class="middle-row">
                    <img class="sidebar-icons" src="/static/images/instagram-images/reels.png">
                    <p class="icon-text">Reels</p>
                </div>
                <div class="middle-row">
                    <img class="sidebar-icons" src="/static/images/instagram-images/messenger.png">
                    <p class="icon-text">Messages</p>
                </div>
                <div class="middle-row">
                    <img class="sidebar-icons" src="/static/images/instagram-images/like.png">
                    <p class="icon-text">Notifications</p>
                </div>
                <div class="middle-row">
                    <img class="sidebar-icons" src="/static/images/instagram-images/create.png">
                    <p class="icon-text">Create</p>
                </div>
                <div class="middle-row">
                    <img class="sidebar-icons user" src="/static/images/users/umji.jpg">
                    <p class="icon-text">Profile</p>
                </div>
            </div>
            <div class="bottom-sidebar">
                <div class="middle-sidebar">
                    <div class="middle-row">
                        <img class="sidebar-icons" src="/static/images/instagram-images/threads.png">
                        <p class=icon-text>Threads</p>
                    </div>
                    <div class="middle-row">
                        <img class="sidebar-icons" src="/static/images/instagram-images/more.png">
                        <p class="icon-text ">More</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-right">
            <div class="myprofile">
                <div class="profile-pic">
                    <img class="user" src="/static/images/users/umji.jpg">
                </div>
                <div class="username-container">
                    <div class="username">
                        <p>umjiii</p>
                    </div>
                    <div class="name">
                        <p>Kim Yewon</p>
                    </div>
                </div>
                <div class="switch">
                    <p>Switch</p>
                </div>
            </div>


            <div class="suggested">
                <p class="name">Suggested fo you</p>
                <p>See all</p>
            </div>

            <div class="myprofile">
                <div class="profile-pic">
                    <img class="user" src="/static/images/users/boo.jpg">
                </div>
                <div class="username-container">
                    <div class="username">
                        <p>seungkwan</p>
                    </div>
                    <div class="name">
                        <p>Suggested for you</p>
                    </div>
                </div>
                <div class="switch">
                    <p>Follow</p>
                </div>
            </div>

            <div class="myprofile">
                <div class="profile-pic">
                    <img class="user" src="/static/images/users/hoshikwon.jpg">
                </div>
                <div class="username-container">
                    <div class="username">
                        <p>hoshi</p>
                    </div>
                    <div class="name">
                        <p>Suggested for you</p>
                    </div>
                </div>
                <div class="switch">
                    <p>Follow</p>
                </div>
            </div>

            <div class="myprofile">
                <div class="profile-pic">
                    <img class="user" src="/static/images/users/wonu.jpg">
                </div>
                <div class="username-container">
                    <div class="username">
                        <p>wonwoo</p>
                    </div>
                    <div class="name">
                        <p>Suggested for you</p>
                    </div>
                </div>
                <div class="switch">
                    <p>Follow</p>
                </div>
            </div>

            <div class="myprofile">
                <div class="profile-pic">
                    <img class="user" src="/static/images/users/woozi.jpg">
                </div>
                <div class="username-container">
                    <div class="username">
                        <p>woozi</p>
                    </div>
                    <div class="name">
                        <p>Suggested for you</p>
                    </div>
                </div>
                <div class="switch">
                    <p>Follow</p>
                </div>
            </div>

            <div class="myprofile">
                <div class="profile-pic">
                    <img class="user" src="/static/images/users/mingyu.jpg">
                </div>
                <div class="username-container">
                    <div class="username">
                        <p>mingyu</p>
                    </div>
                    <div class="name">
                        <p>Suggested for you</p>
                    </div>
                </div>
                <div class="switch">
                    <p>Follow</p>
                </div>
            </div>



        </div>

        <div class="main">
            <div class="stories">
                <img class="users" src="/static/images/users/junhui.jpg">
                <img class="users" src="/static/images/users/zheyuan.jpg">
                <img class="users" src="/static/images/users/sinb.jpg">
                <img class="users" src="/static/images/users/seungcheol.jpg">
                <img class="users" src="/static/images/users/hoshikwon.jpg">
                <img class="users" src="/static/images/users/wonu.jpg">
                <img class="users" src="/static/images/users/joshua.jpg">
                <img class="users" src="/static/images/users/the8.jpg">
                <img class="users" src="/static/images/users/eunha.jpg">
                <img class="users" src="/static/images/users/yangyang.jpg">
                <img class="users" src="/static/images/users/vernon.jpg">
            </div>

            <div class="post">
                <div class="post-header">
                    <img class="post-user" src="/static/images/images/pic1.jpg">
                    <p>joyinalgorithm</p>
                    <p class="name">&#183; 1m </p>
                    <img class="icon" src="/static/images/instagram-images/more.png">
                </div>
                <div>
                    <img class="post-pic" src="/static/images/images/img2.jpg">
                </div>
                <div class="post-footer">
                    <img class="post-icons" src="/static/images/instagram-images/like.png">
                    <img class="post-icons" src="/static/images/instagram-images/comment.png">
                    <img class="post-icons" src="/static/images/instagram-images/share.png">
                    <img class="post-icon" src="/static/images/instagram-images/bookmark.png">
                </div>
                <div class="likes">
                    5 likes
                </div>
                <div class="comment">
                    Add a comment...
                </div>
            </div>


            <div class="post">
                <div class="post-header">
                    <img class="post-user" src="/static/images/images/pic1.jpg">
                    <p>joyinalgorithm</p>
                    <p class="name">&#183; 2m </p>
                    <img class="icon" src="/static/images/instagram-images/more.png">
                </div>
                <div>
                    <img class="post-pic" src="/static/images/images/img1.jpg">
                </div>
                <div class="post-footer">
                    <img class="post-icons" src="/static/images/instagram-images/like.png">
                    <img class="post-icons" src="/static/images/instagram-images/comment.png">
                    <img class="post-icons" src="/static/images/instagram-images/share.png">
                    <img class="post-icon" src="/static/images/instagram-images/bookmark.png">
                </div>
                <div class="likes">
                    6 likes
                </div>
                <div class="comment">
                    Add a comment...
                </div>
            </div>


            <div class="post">
                <div class="post-header">
                    <img class="post-user" src="/static/images/images/pic1.jpg">
                    <p>joyinalgorithm</p>
                    <p class="name">&#183; 3m </p>
                    <img class="icon" src="/static/images/instagram-images/more.png">
                </div>
                <div>
                    <img class="post-pic" src="/static/images/images/img8.jpg">
                </div>
                <div class="post-footer">
                    <img class="post-icons" src="/static/images/instagram-images/like.png">
                    <img class="post-icons" src="/static/images/instagram-images/comment.png">
                    <img class="post-icons" src="/static/images/instagram-images/share.png">
                    <img class="post-icon" src="/static/images/instagram-images/bookmark.png">
                </div>
                <div class="likes">
                    10 likes
                </div>
                <div class="comment">
                    Add a comment...
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <img class="post-user" src="/static/images/images/pic1.jpg">
                    <p>joyinalgorithm</p>
                    <p class="name">&#183; 7m </p>
                    <img class="icon" src="/static/images/instagram-images/more.png">
                </div>
                <div>
                    <img class="post-pic" src="/static/images/images/img16.jpg">
                </div>
                <div class="post-footer">
                    <img class="post-icons" src="/static/images/instagram-images/like.png">
                    <img class="post-icons" src="/static/images/instagram-images/comment.png">
                    <img class="post-icons" src="/static/images/instagram-images/share.png">
                    <img class="post-icon" src="/static/images/instagram-images/bookmark.png">
                </div>
                <div class="likes">
                    15 likes
                </div>
                <div class="comment">
                    Add a comment...
                </div>
            </div>



            <div class="post">
                <div class="post-header">
                    <img class="post-user" src="/static/images/images/pic1.jpg">
                    <p>joyinalgorithm</p>
                    <p class="name">&#183; 12m </p>
                    <img class="icon" src="/static/images/instagram-images/more.png">
                </div>
                <div>
                    <img class="post-pic" src="/static/images/images/pic5.jpg">
                </div>
                <div class="post-footer">
                    <img class="post-icons" src="/static/images/instagram-images/like.png">
                    <img class="post-icons" src="/static/images/instagram-images/comment.png">
                    <img class="post-icons" src="/static/images/instagram-images/share.png">
                    <img class="post-icon" src="/static/images/instagram-images/bookmark.png">
                </div>
                <div class="likes">
                    30 likes
                </div>
                <div class="comment">
                    Add a comment...
                </div>
            </div>
        </div>
    </body>

</html>
