<!DOCTYPE html>
<html>

    <head>
        <title>Linkedin</title>
        <link rel="stylesheet" href="/static/styles/linkedin.css">
    </head>

    <body>
        <div class="header">
            <div class="left-section">
                <img class="logo" src="/static/images/linkedin-images/linkedin-logo.png">
                <img class="search" src="/static/images/linkedin-images/search.png">
                <input class="input-search" placeholder="Search by title, skill, or company">

            </div>
            <div class="sidebar">
                <div class="row-container">
                    <div class="column-container">
                        <img class="sidebar-icons" src="/static/images/linkedin-images/bookmark.png">
                        <p class="name">My jobs</p>
                    </div>
                    <div class="column-container">
                        <img class="sidebar-icons" src="/static/images/linkedin-images/menu.png">
                        <p class="name">Preferences</p>
                    </div>
                    <div class="column-container">
                        <img class="sidebar-icons" src="/static/images/linkedin-images/check_mark.png">
                        <p class="name">Demonstrate skills</p>
                    </div>
                    <div class="column-container">
                        <img class="sidebar-icons" src="/static/images/linkedin-images/interview.png">
                        <p class="name">Interview prep</p>
                    </div>
                    <div class="column-container">
                        <img class="sidebar-icons" src="/static/images/linkedin-images/resume.png">
                        <p class="name">Resume Builder</p>
                    </div>
                    <div class="column-container">
                        <img class="sidebar-icons" src="/static/images/linkedin-images/youtube.png">
                        <p class="name">Job seeker guidance</p>
                    </div>
                    <div class="column-container">
                        <img class="sidebar-icons" src="/static/images/linkedin-images/settings.png">
                        <p class="name">Application settings</p>
                    </div>
                    <div class="column-container">
                        <button class="post-button">Post a free job</button>
                    </div>
                </div>
            </div>
            <div class="right-section">
                <div class="icon-container">
                    <img class="icons home-icon" src="/static/images/linkedin-images/home.png">
                    <p class="description">Home</p>
                </div>
                <div class="icon-container">
                    <img class="icons network-icon" src="/static/images/linkedin-images/myNetwork.png">
                    <p class="description">My Network</p>
                </div>
                <div class="icon-container">
                    <img class="icons jobs-icon" src="/static/images/linkedin-images/jobs.png">
                    <p class="description">Jobs</p>
                </div>
                <div class="icon-container">
                    <img class="icons message-icon" src="/static/images/linkedin-images/message.png">
                    <p class="description">Messaging</p>
                </div>
                <div class="icon-container">
                    <img class="icons notif-icon" src="/static/images/linkedin-images/bell.png">
                    <p class="description">Notifications</p>
                    <p class="notif-count">25</p>
                </div>
                <div class="icon-container">
                    <img class="icons profile-icon" src="/static/images/linkedin-images/user.png">
                    <p class="description">Me &#11167;</p>
                </div>
                <div class="icon-container">
                    <img class="icons apps-icon" src="/static/images/linkedin-images/apps.png">
                    <p class="description">For Business &#11167;</p>
                </div>

                <p class="premium"><u>Try premium for PHP0</u></p>
            </div>
        </div>
        <div class="main-section">
            <div class="suggested-section">
                <h4>Suggested job searches</h4>
                <button class="exit">
                    <img class="close-btn" src="/static/images/linkedin-images/cross.png">
                </button>
                <button class="suggested">&#128269;marketing manager</button>
                <button class="suggested">&#128269;hr</button>
                <button class="suggested">&#128269;legal</button>
                <button class="suggested">&#128269;sales</button>
                <button class="suggested">&#128269;amazon</button>
                <button class="suggested">&#128269;google</button>
                <button class="suggested">&#128269;analyst</button>
            </div>
            <div class="recommended">
                <h4 class="foryou">Recommended for you</h4>
                <p class="text">Based on your profile and search history</p>
                <div class="jobs">
                    <div class="job-container">
                        <div class="column1">
                            <img class="company-logo" src="/static/images/linkedin-images/revtra.jpg">
                        </div>
                        <div class="column2">
                            <p class="title">PHP Developer (Part-time)</p>
                            <p class="company">Revtra Pro. Inc</p>
                            <p class="description">Philippines (Remote)</p>
                            <p class="description">PHP360K/yr - PHP420K/yr</p>
                            <p class="description">Actively recruiting</p>
                            <p class="description">4 months ago</p>
                        </div>
                        <div class="column3">
                            <button class="exit">
                                <img class="close-btn" src="/static/images/linkedin-images/cross.png">
                            </button>
                        </div>
                    </div>

                    <div class="job-container">
                        <div class="column1">
                            <img class="company-logo" src="/static/images/linkedin-images/knots.png">
                        </div>
                        <div class="column2">
                            <p class="title">Wordpress Developer</p>
                            <p class="company">55 KNOTS</p>
                            <p class="description">Philippines (Remote)</p>
                            <p class="description">Actively recruiting</p>
                            <p class="description">1 day ago</p>
                        </div>
                        <div class="column3">
                            <button class="exit">
                                <img class="close-btn" src="/static/images/linkedin-images/cross.png">
                            </button>
                        </div>
                    </div>

                    <div class="job-container">
                        <div class="column1">
                            <img class="company-logo" src="/static/images/linkedin-images/ripped.jpg">
                        </div>
                        <div class="column2">
                            <p class="title">Front End Developer</p>
                            <p class="company">RippedBoxStation</p>
                            <p class="description">Manila, National Capital Region, Philippines (Remote)</p>
                            <p class="description">Your profile matches this job</p>
                            <p class="description">1 months ago</p>
                        </div>
                        <div class="column3">
                            <button class="exit">
                                <img class="close-btn" src="/static/images/linkedin-images/cross.png">
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="sidebar-right">
            <div class="upper-right">
                <h4 class="head">Job seeker guidance</h4>
                <p class="text">
                    Recommended based on your activity</p>
                <h4 class="head2">I want to improve my resume</h4>
                <p class="text">Explore our curated guide of expert-led courses, such as how to improve your resume and grow your network, to help you land your next opportunity.</p>
                <p class="link">Show more &#8594;</p>
            </div>
            <div class="details-link">
                <div class="row">
                    <p class="about">About</p>
                    <p class="about">Accessibility</p>
                    <p class="about">Help Center</p>
                </div>
                <div class="row">
                    <p class="about">Privacy & Terms &#11167;</p>
                    <p class="about">Ad Choices</p>
                </div>
                <div class="row">
                    <p class="about">Advertising</p>
                    <p class="about">Business Services &#11167;</p>
                </div>
                <div class="row">
                    <p class="about">Get the Linkedin app</p>
                    <p class="about">More</p>
                </div>
                <div class="last-row">
                    <p class="left">Linked
                        <img class="logo-small" src="/static/images/linkedin-images/linkedin-logo.png">
                    </p>
                    <p class="copyright">Linkedin Corporation &copy; 2024</p>
                </div>
            </div>
        </div>
    </body>

</html>
