{% extends "layout.html" %}
{% block title %}Rock Paper Scissors{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/styles/rockpaperscissors.css">{% endblock %}
{% block body %}
    <div class="container">
        <h1>Rock Paper Scissors</h1>
        <div class="images-container">
            <img style="background-color: black;
                        padding: 0px;
                        margin-top: 30px;
                        cursor: pointer;" class="images js-rock-btn" src="/static/images/minigames/Rock-emoji.jpg">
            <img style="background-color: black;
                        padding: 0px;
                        margin-top: 30px;
                        cursor: pointer;" class="images js-paper-btn" src="/static/images/minigames/Paper-emoji.jpg">
            <img style="background-color: black;
                        padding: 0px;
                        margin-top: 30px;
                        cursor: pointer;" class="images js-scissors-btn" src="/static/images/minigames/Scissors-emoji.jpg">
        </div>
        <p class="js-result result"></p>
        <p class="js-moves"></p>
        <p class="js-score"></p>


        <button class="reset-btn" onclick="
                                           score.wins = 0;
                                           score.losses = 0;
                                           score.ties = 0;
                                           localStorage.removeItem('score')
                                           updateScore();
                                          ">Reset Score</button>
        <button class="auto-play" onclick="
                                           autoplay()
                                          ">Auto Play</button>
    </div>
    {% block scripts %}<script src="/static/scripts/rockpaperscissors.js"></script>{% endblock %}
{% endblock %}
